# ---- Python venvs ----
.venv/
venv/
env/

# ---- Python caches ----
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# ---- OS / editor ----
.DS_Store
Thumbs.db
.vscode/
.idea/
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# ---- Logs / temp ----
*.log
scratch.txt

# ---- Build artifacts ----
build/
dist/
*.egg-info/
FETCH_HEAD
x64/
Debug/
Release/
*.obj
*.ilk
*.pdb
*.exe
*.dll